@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "Open Sans", sans-serif;
  color: #0c1206;
}
.orderTable {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.vkusno {
  font-family: "Open Sans", sans-serif;
  color: #0c1206;
  background-color: #0ec645;
  padding: 15px;
  margin: 15px;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* max-width: 400px; */
  width: 22%;
  height: 600px;
  opacity: 0.8;
}
.articles {
  text-align: center;
  justify-content: center;
}
button {
  border-radius: 5px;
  border: 1px solid #fff;
  margin: 10px;
  background-color: rgb(255, 157, 71);
  color: #fff;
  padding: 0.5em 1em;
  transition: 1s;
}
button:hover {
  background-color: rgb(223, 114, 18);
}
.title {
  margin: 20px;
}
